html {
	background-color: lightgrey;
}

.red-text {
	color: red;
}

.flash {
	margin: 0 auto;
	text-align: center;
	width: 50%;
	font-size: 20px;
	font-style: italic;
	border-radius: 10px;
}

.flash.success {
	background-color: green;
	color: white;
	text-transform: uppercase;
}